## Computer Programming with Python

#### Instructor : Dr. Aydin Demir

aydindemir@sakarya.edu.tr | www.aydindemir.com | GitHub & Instagram: @craxLab | Web: www.craxLab.com

---

## VARIABLES

Variable is a name that is used to refer to memory location. Python variable is also known as an identifier and used to hold value.

* Variables are the example of identifiers.

* Variables can be used to store data of different data types such as integers, floating-point numbers, strings, lists, dictionaries, etc.

#### To define variables:

The equal (=) operator is used to assign value to a variable.

*variable_name = expression (data)*

#### To print variables on to the screen:
*print(variable_name)*

or

*variable_name*   -----> # Only in Jupiter

#### To print multiple variables on to the screen:

*print(variable_name1, variable_name2, variable_name3, ...)*

or

*variable_name1, variable_name2, variable_name3, ...*   -----> # Only in Jupiter

**_Create a variable with an integer:_**

![](./Figures/variables1.png)

The following code declares a variable _a_ and assigns the value 50 to it.

In [ ]:
a = 50
print(a)

**_Create a variable with string:_**

![](./Figures/aziz_sancar.jpg)

Source: https://www.hurriyet.com.tr/gundem/aziz-sancar-kimdir-nerelidir-40890746

In [ ]:
biliminsani = "Aziz Sancar"
print(biliminsani)

**_Variables having same value:_**

![](./Figures/variables2.png)

In [ ]:
a = 50
b = 50
print(a)
print(b)

**_Variables having different values:_**

![](./Figures/variables3.png)

In [2]:
a = 50
b = 100
c = a + b
print(c)

150

--- 
## Object Identity

In Python, every created object identifies uniquely in Python. Python provides the guaranteed that no two objects will have the same identifier. 

The built-in **id()** function, is used to identify the object identifier.

In [3]:
print(id(a))

2110200835920

In [4]:
print(id(c))

2110201027600

## Multiple Assignment
Python allows us to assign a value to multiple variables in a single statement, which is also known as multiple assignments.

We can apply multiple assignments in two ways, either by assigning a single value to multiple variables or assigning multiple values to multiple variables. Consider the following example.

**Assigning single value to multiple variables:**

In [6]:
x = 50
y = 50
z = 50
print(x, y, z)

50 50 50

In [7]:
x = y = z = 50
print(x, y, z)

50 50 50

**Assigning multiple values to multiple variables:**

In [8]:
x = 50
y = 60
z = 80
print(x, y, z)

50 60 80

In [9]:
x, y, z = 50, 60, 80
print(x, y, z)

50 60 80

---

## Variable Naming
Variable names can be a group of both the letters and digits. The rules to name an identifier are given below.

- The first character of the variable must be an alphabet or underscore ( _ ).

- All the characters except the first character may be an alphabet of lower-case(a-z), upper-case (A-Z), underscore, or digit (0-9).

- Identifier name must not contain any white-space, or special character (!, @, #, %, ^, &, *).

- Identifier name must not be similar to any keyword defined in the language.

- Identifier names are case sensitive; for example, **myname**, and **Myname** is not the same.

- I suggest not using unique TURKISH letters: **ı, ş, ü, ğ, ç, ö**

**_Examples of valid identifiers:_**

In [10]:
isim = "Ali"
print(isim)

Ali

In [11]:
a5 = 100
print(a5)

100

In [12]:
_sehir = "Sakarya"
print(_sehir)

Sakarya

In [14]:
sehrin_adi = "Sakarya"
print(sehrin_adi)

Sakarya

**_Examples of invalid identifiers:_**

In [15]:
8no = 87

SyntaxError: invalid syntax (524868900.py, line 1)

In [16]:
k@l = "Sau"

SyntaxError: cannot assign to operator (3519354837.py, line 1)

In [17]:
sehir adi = "Sakarya"

SyntaxError: invalid syntax (3402109672.py, line 1)

**_Identifier names are case sensitive:_**

In [18]:
ad  = "Veli"
Ad = "Ayşe"
print(ad, Ad)

Veli Ayşe

---
## whos 

a function listing objects

In [19]:
%whos

Variable          Type                          Data/Info
---------------------------------------------------------
Ad                str                           Ayşe
NamespaceMagics   MetaHasTraits                 <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
a                 int                           50
a5                int                           100
ad                str                           Veli
b                 int                           100
c                 int                           150
get_ipython       function                      <function get_ipython at 0x000001EB54ED1D30>
getsizeof         builtin_function_or_method    <built-in function getsizeof>
isim              str                           Ali
json              module                        <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
np                module                        <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
sehrin_adi        str                           Sakarya
var_dic_list      function                      <function var_dic_list at 0x000001EB5826C310>
x                 int                           50
y                 int                           60
z                 int                           80

---
## Example Homework

- Write your first code that calculates your monthly budget for transportation. 
 
 a ) Assume you are using a bus and paying 10 Turkish liras for one way. 
 
 b ) Assume that you are traveling by your own car and the gasoline costs 2 Turkish liras per kilometer.
 
 c ) Calculate the differance between traveling by car and by bus.
 
 PS: Please use your home location and SAU Civil Engineering Department building locations for distance calculations.

---